<!-- IF $ME -->
####################################################
ProsilverME Configuation
####################################################

Variables you can configure below: 

$ME_PROFILES = Display poster profiles on left or right side of viewtopic : 'left'/'right'
$ME_COLOUR_SWITCHER = Choose "Colour switcher" box on nav bar?  1 = enabled/visible, 0 = disabled/hidden.
$ME_COLOUR_DEFAULT = Choose the default colour : 'red'/'green'/'black'/'blue'/'pink'/'purple'
$ME_WIDTH = Choose your width : '75%' = Fixed / '100%' = Fluid
$ME_SIDEBAR = This option enable or disable the sidebar : 'none' = disabled / 'left' = enable a sidebar al left side / 'right'  = enable a sidebar at right side
<!-- ENDIF -->

<!-- DEFINE $ME_PROFILES = 'right' -->
<!-- DEFINE $ME_COLOUR_SWITCHER = '1' -->
<!-- DEFINE $ME_COLOUR_DEFAULT = 'blue' -->
<!-- DEFINE $ME_WIDTH = '75%' -->
<!-- DEFINE $ME_SIDEBAR = 'right' -->
