/* Pink stylesheet. Override everything here. 
This is called after phpBB's stylesheet, so !important shouldn't be required in most cases */

body.fixedwide {
	color: #9b007f;
    background-color: #94007c;
}

body.fullwide { 
	color: #9b007f;
}

/* Not used more. */
/*#wrap.fixedwide {
	border: 1px solid #fedff8;
}*/

.content h2, .panel h2 {
	color: #901198;
	border-bottom-color:  #CCCCCC;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #901198;
}

.headerbar {
	background-color: #86006f;
	background-image: url("images/prosilverme_pink/bg_header.gif");
	color: #FFFFFF;
}

.navbar {
	background-color: #fedff8;
}

.forabg {
	background-color: #86006f;
	background-image: url("images/prosilverme_pink/bg_list.gif");
}

.forumbg {
	background-color: #86006f;
	background-image: url("images/prosilverme_pink/bg_header.gif");
}

ul.forums {
	background-color: #f9eeee;
	background-image: url("images/prosilverme_pink/gradient.gif");
}

/* CSS donde se manejan los colores de los inputs y textarea */
#message-box textarea:hover, #message-box textarea:focus, textarea.inputbox:hover {border-color: #9d0083;}

#search-box a:hover, .navbg a:hover, .forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #d8d8d8;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #b4136e;
	color: #b4136e;
}
/* Search box
--------------------------------------------- */
#search-box input {
	border-color: #b0006c;
}

/* thumbnail */
dl.thumbnail dt a:hover img {
	border-color: #b636d2;
}

/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #FFFFFF; 
	border-color: #bfb4c0;
	color: #333333;
}

.inputbox:hover {
	border-color: #88006f;
}

.inputbox:focus {
	border-color: #88006f;
	color: #870f0f;
}

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
	color: #000;
}

label {
	color: #674255;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #333;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #000000;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea {
	color: #333333;
}

/* Link styles for the sub-section links */
#navigation a {
	color: #333;
	background-color: #cfb2c9;
	background-image: url("images/prosilverme_pink/bg_menu.gif");
}

.rtl #navigation a {
	background-image: url("images/prosilverme_pink/bg_menu_rtl.gif");
	background-position: 0 100%;
}

#navigation a:hover {
	background-image: none;
	background-color: #c6aac2;
	color: #BC2A4D;
}

#navigation #active-subsection a , #active-subsection a:hover {
	color: #a811d3;
}

/*  	
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a:link, a:visited { color: #7c1089; }
a:hover	{ color: #D31141; }
a:active	{ color: #a811d3; }

/* li row color */
li.row {
	border-top-color:  #FFFFFF;
	border-bottom-color: #ccc;
}

li.row:hover {
	background-color: #f3d0f6;
}

/* Table styles
----------------------------------------*/
table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #f5cff6;
	color: #000;
}

/* Button Styles
---------------------------------------- */
.buttons div {
	background-image: url("images/prosilverme_pink/big_button.gif");
}

.rtl .buttons div {
	background-image: url("images/prosilverme_pink/big_button_rtl.gif");
}

.buttons div a {
	background-image: url("images/prosilverme_pink/big_button_bg.gif");
}

.rtl .buttons div a {
	background-image: url("images/prosilverme_pink/big_button_rtl_bg.gif");
}

.buttons div a:link, .buttons div a:visited {
	color: #88008d;
}

.buttons div a:hover, .buttons div a:active {
	color: #8f0076;
	text-decoration: none;
}

/* Pagination
---------------------------------------- */

.pagination span strong {
	color: #FFFFFF;
	background-color: #a446bf;
	border-color: #a446bf;
}

.pagination span a, .pagination span a:link, .pagination span a:visited {
	color: #815c8c;
	background-color: #eeecec;
	border-color: #c0b4bf;
}

.pagination span a:hover {
	border-color: #a836d2;
	background-color: #a836d2;
	color: #FFF;
}

.pagination span a:active {
	color: #815c8c;
	background-color: #eeecec;
	border-color: #c0b4bf;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #a836d2;
}

/* Post body links */
.postlink {
	color: #a836d2;
	border-bottom-color: #a836d2;
}

.postlink:visited {
	color: #9c5dbd;
	border-bottom-color: #9c5dbd;
}

.postlink:active {
	color: #a036d2;
}

.postlink:hover {
	background-color: #ecd0f6;
	color: #680d73;
}

.signature a, .signature a:visited, .signature a:hover, .signature a:active {
	background-color: transparent;
}

/* Profile links */
.postprofile a:link, .postprofile a:visited, .postprofile dt.author a {
	color: #891082;
}

.postprofile a:hover, .postprofile dt.author a:hover {
	color: #9e11d3;
}

.postprofile a:active {
	color: #891082;
}

/* Profile searchresults */	
.search .postprofile a {
	color: #891082;
}

.search .postprofile a:hover {
	color: #D31141;
}

a.left:hover {
	color: #8336d2;
}

a.right:hover {
	color: #8336d2;
}

/* Rules */
div.rules {
	background-color: #ded5ec;
	color: #BC2A4D;
}

p.rules {
	background-color: #ded5ec;
	background-image: none;
}

/* Links for forum/topic lists */
a.forumtitle, a.forumtitle:active, a.topictitle, a.topictitle:active {
	color: #891082;
}

/* a.topictitle:visited - a.forumtitle:visited { color: #105289; } */

a.forumtitle:hover, a.topictitle:hover {
	color: #BC2A4D;
}

#navigation #active-subsection a {
	color: #D31141;
	background-color: #F9F9F9;
	background-image: none;
}

#navigation #active-subsection a:hover {
	color: #D31141;
}

ul.topiclist li {
	color: #774c6a;
}
/* CP tabbed menu
----------------------------------------*/
#tabs a {
	background-image: url("images/prosilverme_pink/bg_tabs1.gif");
}

#tabs a span {
	background-image: url("images/prosilverme_pink/bg_tabs2.gif");
	color: #825377;
}

#tabs a:hover span {
	color: #BC2A4D;
}

#tabs .activetab a {
	border-bottom-color: #e8caeb;
}

#tabs .activetab a span {
	color: #333333;
}

#tabs .activetab a:hover span {
	color: #000000;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs li {
	background-color: #f2e1e1;
}

#minitabs li.activetab {
	background-color: #F9F9F9;
}

#minitabs li.activetab a, #minitabs li.activetab a:hover {
	color: #333333;
}

dl.details dd {
	color: #825370;
}

/* BG Colours */
.panel {
	background-color: #efd2e9;
	color: #3f2828;
}

#cp-main .panel {
	background-color: #F9F9F9;
}

.bg1	{ background-color: #f6ecf7; }
.bg2	{ background-color: #f2e1f0;  }
.bg3	{ background-color: #ebcaeb; }

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote, blockquote blockquote blockquote{
	background-color: #f8dbdb;
	border-color:#513131;
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#e1bebe;
}

/* Code block */
dl.codebox {
	background-color: #FFFFFF;
	border-color: #cbcbcb;
}

dl.codebox dt {
	border-bottom-color:  #CCCCCC;
}

dl.codebox code {
	color: #2E8B57;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #000000;
}